# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*/out/*
*/mod/*
*.DS_Store
*.out
*.mod
*.swp
.nfs*
*~

# Compiled Python scripts
*.pyc

tags
GPATH
GRTAGS
GTAGS

*.d5
*.c5
*.h5
*.eps
